  
#  pip install -r requirements.txt

#pip3 install --user flask==1.1.1
flask==1.1.1

chardet==3.0.4

pathlib

#pip3 install --user google-cloud-storage==1.20.0
google-cloud-storage==1.20.0

#pip3 install --user
flask-cors == 3.0.8

# gcloud==0.18.3
